<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/example_db</property>
        <property name="hibernate.connection.username">user</property>
        <property name="hibernate.connection.password">user</property>
        <property name="hibernate.show_sql">true</property>
<!--        <property name="hibernate.format_sql">true</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <mapping class="com.lessons.oneToOneExample.primary_key_is_foreign_key.Locations"/>
        <mapping class="com.lessons.oneToOneExample.primary_key_is_foreign_key.Person"/>

        <mapping class="com.lessons.oneToOneExample.foreign_key.ARMPassport"/>
        <mapping class="com.lessons.oneToOneExample.foreign_key.Person_2"/>

        <mapping class="com.lessons.ManyToOneExample.foreign_key.Man"/>
        <mapping class="com.lessons.ManyToOneExample.foreign_key.ZodiacSign"/>

        <mapping class="com.lessons.ManyToManyExample.Reader"/>
        <mapping class="com.lessons.ManyToManyExample.Subscriber"/>

        <mapping class="com.lessons.auto_generated_tables.Thing"/>
        <mapping class="com.lessons.auto_generated_tables.Some"/>
    </session-factory>
</hibernate-configuration>